


html, body{
	transform: scale(1.0);
    min-width: 690px;
    width:80%;
	top:0;
    bottom:0;
    left:0;
    right:0;
	
    
}
/*
img{
   width:100%;
   
   
    
}*/
/*
@media print {
   @media print { body { transform: scale(.7); } }
    table {transform: scale(.7);}
}
*/

body {
	background: -moz-linear-gradient(left, #cedce7 0%, #596a72 50%, #cedce7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #cedce7 0%,#596a72 50%,#cedce7 100%); /* Chrome10-25,Safari5.1-6 */
	background-color: Azure;
	color: #303030; /* Dark Grey */
    width: 100%;
	min-width: 290px;
    
}

table, th, {
    transform:scale(1.0);
    width:100%;
	
    

}

td{
  width:10%;  
    
}

/*tr:nth-child(even) {background-color: #f2f2f2;}*/

h1 {
	
	width:100%;
    color: DarkCyan;
	text-align: left;
    padding-right: 10px;
	max-width: 100%;
	font-size:35px;
}
h2 {
    width:100%;
    text-align:Justify;
    color: DarkCyan;
}
h3 {
    text-align:Justify;
    color: DarkCyan;
}
p{
  color: DarkCyan;  
}

#wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: left;
	border:;
	padding: 5%;
    
}


button {
    font-family: Comic Sans MS;
    color: rgb(0, 210,0);
    font-size: 8px;
    background-color:Green;
    color:Gold;
}
.highlight{
	color:DarkCyan;
    background-color:Chartreuse;
    font-weight:bold;
    
}
footer {
	font-family: Comic Sans MS;
	color: Chartreuse;
	background-color:transparent;
	border
}
copyright {
    color:Chartreuse; 
    font:ComicSansMS;
}

#imgBanner {
	
	width: 100%;
	height="5%"
}
	

	
	